* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0b2434;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  background-color: #f5f5f5;
  width: 360px;
  height: 379px;
  border-radius: 6px;
}
